.ft-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 36px;
}

@media (max-width: 768px) {
  .ft-grid {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 480px) {
  .ft-grid {
    grid-template-columns: 1fr !important;
  }
}
